html {
  height:100vh;
  width: 100vw;
}
a {
  color:black
}
a:hover {
  color: darkviolet;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: linear-gradient(to bottom, aqua, yellow);
  /* background-image: linear-gradient(to bottom, magenta, aqua); */
  display: flex;
  place-content: center;
  place-items: center;
}

.container {
  display: flex;
  clip-path: circle(65px at 50% 53%);
}
.profileImg {
  margin: auto;
  margin-top: 20px;
  height:175px;
  width: auto;
}
.box {
  place-items: center;
  justify-content: center;
  display:flex;
  height: 48px;
  background: white;
  width:50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}
.socialLinks {
  display: flex;
  place-content: center;
}
.socialContainer {
  margin: 0px 10px 0px 10px;
  transition-duration: .4s;
}
.socialContainer:hover {
  transform: scale(1.5);
  transition-duration: .4s;
  cursor: pointer;
}