html {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141414;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  clip-path: circle(65px at 50% 53%);
}
.profileImg {
  margin: auto;
  margin-top: 20px;
  height: 175px;
  width: auto;
}
.box {
  place-items: center;
  justify-content: center;
  display: flex;
  height: 48px;
  background: white;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}
.socialLinks {
  display: flex;
  place-content: center;
}
.socialContainer {
  margin: 0px 10px 0px 10px;
  transition-duration: 0.4s;
}
.socialContainer:hover {
  transform: scale(1.5);
  transition-duration: 0.4s;
  cursor: pointer;
}

#headerBar {
  background: transparent;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  display: flex;
  min-height: 1.5rem;
}
#headerBar.expand {
  width: 100vw;
  transition: all 0.5s ease;
  background: white;
}

.display {
}
.hide {
  display: none;
}

.iconWrapper:hover .profileName,
.iconWrapper:hover .avatarImg {
  color: #fff;
}
.iconWrapper:hover .avatarImg {
  border: 3px solid #fff;
  cursor: pointer;
}

.loader {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  /* display: inline-block; */
  border-top: 10px solid #e50914;
  border-right: 10px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 2;
  position: absolute;
}

.rightNav:hover .caret {
  transform: rotate(180deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
